*{
    margin: 0;
}.animated-background{
    background: linear-gradient(
        to right, #833ab4,
        #0111f6, rgb(241, 28, 28)
    );
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out;
}
@keyframes animate-background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%
    }
    100%{
        background-position:05 50%
    }
}
div{
    height: 5000px;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
}
.flex-container1{
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-container2{
    display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
   

}

